# custom gitattributes
*.pdf diff=exif
*.png diff=exif


# general gitattributes
*.build  text
*.cs     text diff=csharp
*.csproj text
*.dll    binary
*.dtd    text
*.html   text diff=html
*.java   text diff=java
*.md     text
*.nuspec text
*.rng    text
*.rngc   text
*.sh     eol=lf
*.shfbproj text
*.sln    text
*.snk    binary
*.xml    text
*.xsd    text
*.xsl    text
*.yml    text
.gitattributes text
KEY      text
LICENSE* text

# exporting
.gitattributes export-ignore
.gitignore export-ignore
hooks export-ignore
tests export-ignore
